<form class="flex flex-col gap-4" method="post" action="/lesson/add/<%=classrooms._id%>">
	<div class="form-control w-full max-w-xs">
		<label class="label" for="input-title">
			<span class="label-text"><span class="sr-only">required </span>Title</span>
		</label>
		<input id="input-title" name="title" placeholder="Lesson title" type="text" minlength="4" maxlength="35" class="input input-bordered w-full max-w-xs" required>
			<span class="label-text-alt">Minimum 4 and maximum 35 characters</span>
		</div>

	<div class="form-control w-full max-w-xs">
		<label class="label" for="input-desc">
			<span class="label-text"><span class="sr-only">optional </span>Lesson description</span>
		</label> 
		<textarea id="input-desc" name="description" placeholder="Lesson description" maxlength="140" class="textarea textarea-bordered w-full max-w-xs" rows="3"></textarea>
	</div>

	<div class="form-control w-full max-w-xs">
	<label class="label" for="input-name">
		<span class="label-text"><span class="sr-only">optional </span>Link to external resource</span>
	</label>
	<input id="input-name" name="resource" placeholder="Lesson resource" type="url" class="input input-bordered w-full max-w-xs">
	</div>

	<button type="submit" class="btn btn-outline mx-auto sm:my-4">Submit new lesson</button>
</form>