	
<form role="form" class="flex flex-col gap-2 md:-mt-4 lg:mt-0 mb-4" method="post" enctype="multipart/form-data" action="/classroom?_method=PATCH">
	<input type="hidden" id="hiddenClassId" name="hiddenClassId" value="<%=classrooms._id%>">
	<div class="form-control w-full max-w-md">
	<label class="label" for="edinput-picture">
		<span class="label-text">Choose new picture <span class="label-text-alt">(optional)</span></span>
	</label>
	<input id="edinput-picture" name="picture" type="file" accept=".jpg, .jpeg, .png" class="input input-bordered w-full max-w-xs h-auto pl-0 file:rounded-lg file:mr-4 file:py-2 file:px-4 file:border file:border-e file:border-base-300 file:font-semibold file:bg-base-100 file:text-base-content hover:file:bg-base-300">
	</div>

	<div class="form-control w-full max-w-xs">
	<label class="label" for="edinput-name">
		<span class="label-text">Name</span>
	</label>
	<input id="edinput-name" name="name" placeholder="Classroom name" type="text" minlength="4" maxlength="35" class="input input-bordered w-full max-w-xs" required value="<%=classrooms.name%>">
	</div>

	<div class="form-control w-full max-w-xs">
	<label class="label" for="edinput-desc">
		<span class="label-text">Description</span>
	</label> 
		<textarea id="edinput-desc" name="description" placeholder="Classroom description" maxlength="200" class="textarea textarea-bordered w-full max-w-xs" rows="2"><%=classrooms.description%></textarea>
	</div>

	<div class="form-control w-full max-w-xs">
		<label class="label" for="edinput-pass">
			<span class="label-text">Classroom password, must be unique</span>
		</label> 
	<input id="edinput-pass" name="accessName" placeholder="Classroom password" type="text" minlength="4" class="input input-bordered w-full max-w-xs" required value="<%=classrooms.accessName%>">
	</div>

	<div class="flex justify-between flex-wrap mt-4 gap-4">
	<button aria-label="Close" id="modalEdit-dismiss" type="button" class="btn btn-outline mx-auto" data-modal-close="">Close</button>
	<button aria-label="Submit changes" type="submit" class="btn btn-secondary btn-outline mx-auto">Submit changes</button>
	</div>
</form>