<div class="navbar-center hidden md:flex">
	<ul class="menu menu-horizontal">
	  <li><a href="#" class="rounded">Item 1</a></li>
	  <li><a href="#" class="rounded">Parent</a></li>
	  <li><a href="#" class="rounded">Item 3</a></li>
	</ul>
</div>


	<div class="flex justify-between">
		<button class="btn btn-ghost md:hidden" id="navbar-toggle"
		data-modal-trigger="" aria-controls="navbar-mobile" aria-expanded="false">
		Menu
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="ml-2 inline-block w-5 h-5 stroke-current pointer-events-none"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
		</button>
		<div class="pointer-events-auto md:hidden not-prose">
			<div id="navbar-mobile" aria-labelledby="modalmenu-title" data-modal-target="" class="absolute inset-0 overflow-hidden hidden" aria-modal="true">
					<div data-modal-overlay="" data-modal-close="" tabindex="-1" data-class-in="opacity-50" data-class-out="opacity-0" class="fixed inset-0 w-full z-40 transition-opacity duration-500 bg-black select-none opacity-50"></div>
				<div data-modal-wrapper="" data-class-in="translate-x-0" data-class-out="-translate-x-full" class="prose fixed top-0 left-0 bottom-0 w-10/12 h-full max-w-md z-50 overflow-auto scrolling-touch transition-transform duration-500 bg-neutral flex flex-col shadow-xl transform translate-x-0">
					<div class="flex items-center justify-between border-b p-6">
						<h3 id="modalmenu-title">Menu</h3>

						<button data-modal-close="" class="btn btn-square btn-outline btn-sm">
							<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
							<span class="sr-only">Close</span>
						</button>
					</div>

					<div class="relative h-full flex-grow overflow-x-hidden overflow-y-auto p-6">
						<nav>
							<ul class="list-none divide-y pl-0 flex flex-col divide-neutral-focus justify-center align-center text-xl">
								<li>
									<a href="/profile" class="btn btn-ghost transition <%= (active=="profile") ? "active" : " " %> " <%if(active=="profile"){%>aria-current="page"<%}%>>Profile</a>
								</li>
								<li>
									<a href="/feed" class="btn btn-ghost <%= (active=="feed") ? "active" : " " %> " <%if(active=="feed"){%>aria-current="page"<%}%>>Feed</a>
								</li>
								<li>
									<a href="/logout" class="btn btn-ghost">Log out</a>
								</li>
							</ul>
						</nav>
						<div class="absolute bottom-0 left-0 mb-2 ml-2">
							<button data-modal-close="" type="button" class="btn btn-outline">
							Close Drawer
							</button>
						</div>
					</div>
				</div>
			</div>



		<nav class="pointer-events-auto hidden md:flex md:gap-x-6 text-sm font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 px-8 rounded-full dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10" id="navbar-default">
			<a class="relative block px-2 py-2 transition text-teal-600 dark:text-teal-400 hover:text-teal-500 dark:hover:text-teal-200" href="/profile#addPost">Add post</a>
			<a class="relative block px-2 py-2 transition hover:text-teal-500 dark:hover:text-teal-400" href="/profile">Profile<%if(active=="profile"){%><span class="absolute inset-x-1 -bottom-px h-0.5 bg-gradient-to-r from-teal-500/0 via-teal-500/40 to-teal-500/0 dark:from-teal-400/0 dark:via-teal-400/40 dark:to-teal-400/0"></span><%}%></a>
			<a class="relative block px-2 py-2 transition hover:text-teal-500 dark:hover:text-teal-400" href="/feed">Feed<%if(active=="feed"){%><span class="absolute inset-x-1 -bottom-px h-0.5 bg-gradient-to-r from-teal-500/0 via-teal-500/40 to-teal-500/0 dark:from-teal-400/0 dark:via-teal-400/40 dark:to-teal-400/0"></span><%}%></a>
			<a class="relative block px-2 py-2 transition text-teal-600 dark:text-teal-400 hover:text-teal-500 dark:hover:text-teal-200" href="/logout">Log out</a>
		</nav>
	</div>
</div>

