<%- include('partials/header', {navbar: "no" , title: "404" }) -%>

			<div class="flex flex-col items-center justify-center max-w-md w-full py-8 shadow-2xl bg-base-100 rounded-2xl mx-auto gap-6">
					<h1 class="text-5xl text-center font-bold font-sans">404</h1>
					<p>Content not found.</p>
					<a class="text-accent-focus hover:underline hover:underline-offset-4" href="/">Go to main page</a>
			</div>