<%- include('partials/header', {navbar: "no" , title: "Log in" }) -%>

	<div class="mx-auto flex items-center justify-items-center">
		<div class="absolute top-16 left-0 right-0 mx-auto w-80 sm:w-[600px] lg:w-[700px] hidden sm:block overflow-hidden">
				<img alt="A university library. Photo by mentatdgt Pexels"
					src="https://images.pexels.com/photos/1319854/pexels-photo-1319854.jpeg?auto=compress&cs=tinysrgb&w=700&h=700"
					width="700" height="700" decoding="async" data-nimg="future"
					class="aspect-video rounded-2xl bg-zinc-100 object-cover dark:bg-zinc-800 opacity-50" loading="lazy"
					style="color: transparent;">
		</div>
		<div class="z-10 max-w-xs w-full pb-4 drop-shadow-lg bg-base-100/95 rounded-2xl">
				<h1 class="text-5xl text-center font-bold font-sans pt-4">Log <span class="text-primary">in</span>
				</h1>
			<div class="card mx-auto flex-shrink-0 w-full">
				<form role="form" action="/login" method="POST" class="py-4">
					<div class="card-body py-4">
						<div class="form-control w-full max-w-xs gap-2">
							<label class="pt-2" for="email">
								Email address
							</label>
							<input type="email" name="email" id="email" autocomplete="email" required
								class="input input-bordered w-full max-w-xs">

							<label class="pt-2" for="password">
								Password
							</label>
							<input type="password" id="password" name="password" autocomplete="current-password" required
								class="input input-bordered w-full max-w-xs" />

							<button aria-label="Submit" type="submit"
								class="btn btn-primary my-4 gap-4">
								<svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
									fill="currentColor" aria-hidden="true">
									<path fill-rule="evenodd"
										d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
										clip-rule="evenodd" />
								</svg>
								Sign in
							</button>
						</div>
					</div>

					<div class="flex items-start gap-8 flex-col mb-2 px-6 md:px-9 pt-4 text-sm">
						<a href="/signup" class="font-medium block underline underline-offset-4">Sign up instead.</a>
						<a class="text-xs mx-auto opacity-50"
							href="https://www.pexels.com/pt-br/foto/foto-da-biblioteca-1319854/">Photo by
							mentatdgt on Pexels</a>
					</div>
				</form>
			</div>
		</div>
	</div>
			<%- include('partials/footer') -%>