<%- include('partials/header', {navbar: "no" , title: "Sign up" }) -%>


<div class="mx-auto flex items-center justify-items-center">
	<div class="absolute top-16 left-0 right-0 mx-auto sm:w-[600px] lg:w-[700px] hidden sm:block">
			<img alt="A university library. Photo by mentatdgt Pexels"
				src="https://images.pexels.com/photos/1319854/pexels-photo-1319854.jpeg?auto=compress&cs=tinysrgb&w=700&h=700"
				width="700" height="700" decoding="async" data-nimg="future"
				class="aspect-video rounded-2xl bg-zinc-100 object-cover dark:bg-zinc-800 opacity-50" loading="lazy"
				style="color: transparent;">
	</div>
	<div class="z-10 max-w-xs w-full pb-4 drop-shadow-lg bg-base-100/95 rounded-2xl">
		<h1 class="text-5xl text-center font-bold font-sans pt-4">Sign <span class="text-secondary">up</span>
		</h1>
		<div class="card mx-auto flex-shrink-0 w-full max-w-sm ">

			<form role="form" action="/signup" method="POST">
				<div class="card-body pb-2">
					<div class="form-control w-full max-w-xs gap-2">

						<label class="pt-2" for="userName">
							Your name
						</label>
						<input type="text" id="userName" name="userName" autocomplete="name" required
							class="input input-bordered w-full max-w-xs">

						<label class="pt-2" for="formEmail">
							Email address
						</label>
						<input type="email" autocomplete="email" id="formEmail"
							aria-describedby="emailHelp" name="email" required
							class="input input-bordered w-full max-w-xs" />
						<span class="text-sm" id="emailHelp">We'll never share your email with anyone
							else.</span>

						<label class="pt-2" for="password">
							Password
						</label>
						<input type="password" id="password" autocomplete="new-password" name="password"
							required class="input input-bordered w-full max-w-xs" />

						<label class="pt-2" for="newpassword">
							Confirm password
						</label>
						<input type="password" id="confirmPassword" autocomplete="new-password"
							name="confirmPassword" required
							class="input input-bordered w-full max-w-xs" />

						<div class="form-control py-2">
							<label aria-describedby="checkHelp" class="items-center label cursor-pointer justify-between">
								Are you an educator?
								<input type="checkbox" name="educator" value="true" class="checkbox checkbox-secondary" />
							</label>
							<span id="checkHelp" class="label-text">You can change this later</span>
						</div>

						<button aria-label="Sign up" type="submit"
							class="btn btn-secondary gap-4 mt-2">
								<svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
									fill="currentColor" aria-hidden="true">
									<path fill-rule="evenodd"
										d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
										clip-rule="evenodd" />
								</svg>
							Sign up
						</button>
					</div>
				</div>

				<div class="flex items-start gap-8 flex-col mb-2 px-6 md:px-9 pt-4 text-sm">
					<a href="/login" class="font-medium underline underline-offset-4">Log in instead.</a>
					<a class="text-xs mx-auto opacity-50" href="https://www.pexels.com/pt-br/foto/foto-da-biblioteca-1319854/">Photo by mentatdgt on Pexels</a>
				</div>
			</form>
		</div>
	</div>
</div>





			<%- include('partials/footer') -%>