<%- include('partials/header', {navbar: "no" , title: "Sign up" }) -%>


	<div class="grid grid-cols-1 gap-y-16 lg:gap-y-12 items-center justify-items-center">
		<div class="absolute -mt-12 xs:hidden lg:block">
			<div class="max-w-xs px-2.5 lg:max-w-none" role="presentation">
				<img alt="A university library. Photo by mentatdgt Pexels"
					src="https://images.pexels.com/photos/1319854/pexels-photo-1319854.jpeg?auto=compress&cs=tinysrgb&w=700&h=700"
					width="700" height="700" decoding="async" data-nimg="future"
					class="aspect-video rounded-2xl bg-zinc-100 object-cover dark:bg-zinc-800 opacity-50" loading="lazy"
					style="color: transparent;">
			</div>
		</div>
		<div class="lg:order-first lg:row-span-2 z-10">
			<div class="flex items-center justify-center -mt-4 sm:-mt-8 md:-mt-10 lg:-mt-16 mb-12">
				<div class="max-w-md w-full py-8 shadow-2xl bg-base-100 rounded-2xl">
					<div>
						<h1 class="text-5xl text-center font-bold font-sans">Sign <span class="text-secondary">up</span>
						</h1>
					</div>
					<div class="card mx-auto flex-shrink-0 w-full max-w-sm ">

						<form action="/signup" method="POST">
							<div class="card-body pb-2">
								<div class="form-control w-full max-w-xs gap-2">

									<label class="label flex flex-col items-start gap-2">
										Your name
										<input type="text" id="userName" name="userName" autocomplete="name" required
											class="input input-bordered w-full max-w-xs">
									</label>

									<label class="label flex flex-col items-start gap-2">
										Email address
										<input type="email" autocomplete="email" id="exampleInputEmail1"
											aria-describedby="emailHelp" name="email" required
											class="input input-bordered w-full max-w-xs" />
										<span class="text-sm" id="emailHelp">We'll never share your email with anyone
											else.</span>
									</label>

									<label class="label flex flex-col items-start gap-2">
										Password
										<input type="password" id="password" autocomplete="new-password" name="password"
											required class="input input-bordered w-full max-w-xs" />
									</label>

									<label class="label flex flex-col items-start gap-2">
										Confirm password
										<input type="password" id="confirmPassword" autocomplete="new-password"
											name="confirmPassword" required
											class="input input-bordered w-full max-w-xs" />
									</label>

									<div class="form-control pb-2">
										<label aria-describedby="checkHelp" class="label cursor-pointer justify-between">
											Are you an educator?
											<input type="checkbox" name="educator" value="true" class="checkbox checkbox-secondary" />
										</label>
										<span id="checkHelp" class="label-text">You can change this later</span>
									</div>

									<button type="submit"
										class="btn btn-secondary relative w-full flex my-4 justify-center px-4 border border-transparent text-sm font-medium rounded-md transition">
										<span class="absolute left-0 inset-y-0 flex items-center pl-3">
											<!-- Heroicon name: solid/lock-closed -->
											<svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
												fill="currentColor" aria-hidden="true">
												<path fill-rule="evenodd"
													d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
													clip-rule="evenodd" />
											</svg>
										</span>
										Sign up
									</button>
								</div>
							</div>

							<div class="flex items-start gap-8 flex-col mb-2 px-6 md:px-9 pt-4 text-sm">
								<a href="/login" class="font-medium underline underline-offset-4">Log in instead.</a>
								<a class="text-xs mx-auto opacity-50" href="https://www.pexels.com/pt-br/foto/foto-da-biblioteca-1319854/">Photo by mentatdgt on Pexels</a>
							</div>
						</form>
					</div>
				</div>
			</div>





			<%- include('partials/footer') -%>