@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root, [data-theme] {
	background-color: hsla(var(--n)/var(--tw-bg-opacity,1));
}

:root .prose {
	--tw-prose-body: hsla(var(--bc)/0.9);
}

.no {
    background-color: hsla(var(--b1)/var(--tw-bg-opacity,1));
}